@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Spirax');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://unsplash.it/1280/720/?random) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.inner
{
    background: linear-gradient(135deg,rgba(107, 87, 0, 0.781) 0% , rgba(0, 14, 51, 0.753)80%);
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5%;

    text-align: center;
    vertical-align: middle;
   
}

#fontrandom {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 300% #000;
    font-size: 100px;
    margin-bottom: 5%;
}

#fontrandom1 {
    font-family: 'Sedgwick Ave', cursive;
    color: #ffffff;
    text-shadow: 0px 0px 300px #000;
    font-size: 50px;
    margin-top: -30px;
    font-weight: 100;
   
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #ff8239;
    font-size: 26px;
    padding: 10px 20px;
    margin: 10px 20px;
    border: solid #ff7552;
    text-transform: uppercase;
    text-decoration: none;
    
}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}

